<div class="details">
  <ul>
    <li>Firstname: {{user.firstName}}</li>
    <li>Lastname: {{user.lastName}}</li>
    <li>Email: {{user.email}}</li>
    <li>Pseudo: {{pseudo}}</li>
  </ul>
</div>
<div class="commands">
  <a href="/">Back</a>
</div>
